<head>
  <title>Draco by @afnizarnur</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Draco is free PSD &amp; HTML template by @afnizarnur">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="stylesheet" href="css/kube.min.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/custom.min.css" />-->
  <link rel="shortcut icon" href="../../assets/images/favicon.png" />
<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<style>
  .intro h1:before {
    /* Edit this with your name or anything else */
    content: 'DRACO';
  }
</style>
</head>

<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">DRACO</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li class="active"><a href="#about">About</a></li>
				        <li><a href="#experiences">Experiences</a></li>
				        <li><a href="#achievements">Achievements</a></li>
				        <li><a href="#skills">Skills</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Introduction -->
	<div class="intro section" id="about">
		<div class="container">
			<p><span>Hi, </span>
      <span>I’m </span>
      <span id="name">Omkar Gaonkar</span></p>
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="../../assets/images/ava.jpg" alt="Avatar">
				</div>
				<div class="unit-80">
					<h1>Nice to meet you.<br><span id="typed"></span></h1>
				</div>
				<p>
          I have been working as a Softwsre engineer, web designer and front-end developer since 2017. I’ve always been someone who has both a creative and a logical side. When I discovered web design in college, I realized it would be the perfect fit. I could use my creative side to design and my logical side to code. As a bonus, being both designer and developer allows me to make sure no detail is lost in translation.
				</p>
			</div>
		</div>
	</div>

	<!-- Work Experience -->
	<div class="work section second" id="experiences">
		<div class="container">
			<h1>Work<br>Experiences</h1>
			<ul class="work-list">
				<li>December 2021 – PRESENT </li>
				<li><a href="#">Persistent Systems Ltd. </a></li>
				<li>Lead Software Engineer</li>
			</ul>
			<ul class="work-list">
				<li>December 2020 – December 2021</li>
				<li><a href="#">Capgemini India Pvt. Ltd.</a></li>
				<li>Associate Consultant</li>
			</ul>
			<ul class="work-list">
				<li>March 2018 - September 2020</li>
				<li><a href="#">Atos Syntel Pvt. Ltd.</a></li>
				<li>Associate Consultant</li>
			</ul>
      <ul class="work-list">
				<li>June 2017 - February 2018.</li>
				<li><a href="#">OSSeed Technologies LLP.</a></li>
				<li>Software Developer</li>
			</ul>
		</div>
	</div>

	<!-- Award & Achievements -->
	<div class="award section second" id="achievements">
		<div class="container">
			<h1>Award &amp;<br>Achievements</h1>
			<ul class="award-list list-flat">
				<li>February, 2020</li>
				<li>Google Associate Cloud Engineer (Google certified) </li>
				<li><a href="https://www.credential.net/18ac745b-3aa2-4f92-8116-51753b57372c">https://www.credential.net/18ac745b-3aa2-4f92-8116-51753b57372c</a></li>
			</ul>
      <ul class="award-list list-flat">
				<li>January, 2020</li>
				<li>Google Professional Cloud Architect (Google certified)</li>
				<li><a href="https://www.credential.net/5b503c04-68e3-4465-9ec3-c6ca1c57f4b9">https://www.credential.net/5b503c04-68e3-4465-9ec3-c6ca1c57f4b9</a></li>
			</ul>
      <ul class="award-list list-flat">
				<li>July, 2022</li>
				<li>Microsoft Certified: Azure Data Fundamentals (Microsoft Certified)</li>
				<li><a href="https://www.credly.com/badges/b3ceaca1-5248-41d8-90de-ebc61905cc5d">https://www.credly.com/badges/b3ceaca1-5248-41d8-90de-ebc61905cc5d</a> </li>
			</ul>
      <ul class="award-list list-flat">
				<li>July, 2022</li>
				<li>Microsoft Certified: Azure Fundamentals (Microsoft Certified)</li>
				<li><a href="https://www.credly.com/badges/5ee35473-06db-42eb-9c6d-db54a86995e0">https://www.credly.com/badges/5ee35473-06db-42eb-9c6d-db54a86995e0</a></li>
			</ul>
			<ul class="award-list list-flat">
				<li>December, 2022</li>
				<li>Microsoft Certified: Azure Developer Associate (Microsoft Certified)</li>
				<li><a href="https://www.credly.com/badges/1e4b1e2a-c278-40ba-bba9-b6cd2a9bf0a4">https://www.credly.com/badges/1e4b1e2a-c278-40ba-bba9-b6cd2a9bf0a4</a></li>
			</ul>

		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>Technical<br>Skills</h1>
			<ul class="skill-list list-flat">
				<li>Web Technology</li>
				<li>HTML / CSS / SASS / PHP / Javascript</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>Database</li>
				<li>MySQL / MongoDB / Oracle / Access</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>Framework</li>
				<li>Drupal / CodeIgniter / Wordpress / Ruby On Rails</li>
			</ul>
		</div>
	</div>
<!-- Site footer -->
<footer class="footer">
  <!-- <div class="footer__addr">
    <h1 class="footer__logo">Something</h1>

    <h2>Contact</h2>

    <address>
      5534 Somewhere In. The World 22193-10212<br>

      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div> -->

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Dev Tools:</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Atom</a>
        </li>

        <li>
          <a href="#">Bitbucket</a>
        </li>

        <li>
          <a href="#">Bootstrap</a>
        </li>

        <li>
          <a href="#">Codekit</a>
        </li>

        <li>
          <a href="#">Github</a>
        </li>

        <li>
          <a href="#">Terminal</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Technology</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Angular</a>
        </li>

        <li>
          <a href="#">PHP</a>
        </li>

        <li>
          <a href="#">Cloud (AWS,Azure,GCP)</a>
        </li>

        <li>
          <a href="#">Drupal</a>
        </li>

        <li>
          <a href="#">Wordpress</a>
        </li>

        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Use</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
    <div class="footer__addr">
      <h1 class="footer__logo">Omkar Gaonkar</h1>

      <h2>Contact :+91 7709902330</h2>

      <address>
        Maharashta, INDIA<br>

        <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
      </address>
    </div>
  </ul>

  <div class="legal">
    <p>&copy; 2023 www.omkargaonkar.com. All rights reserved.</p>

    <div class="legal__links">
      <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
    </div>
  </div>
</footer>
<!-- footer -->


 <!-- Javascript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/typed.min.js"></script>
    <script src="js/kube.min.js"></script>
    <script src="js/site.js"></script>
    <script>
		function newTyped(){}$(function(){$("#typed").typed({
		// Change to edit type effect
		strings: ["far northern sky", "your galaxy", "everywhere"],

		typeSpeed:90,backDelay:700,contentType:"html",loop:!0,resetCallback:function(){newTyped()}}),$(".reset").click(function(){$("#typed").typed("reset")})});
    </script>
</body>
